.Best {
    width: 100%;
    height: 1000px;
    margin: 0 auto;
}

.Best h2 {
    font-size: 50px;
    color: #000;
    text-align: center;
    font-weight: 600;
    padding-top: 150px;
    box-sizing: border-box;
}

.Best p {
    font-size: 15px;
    color: #9B959B;
    text-align: center;
}


.Best ul {
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
}

.Best li {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0 50px;
    box-sizing: border-box;
}

.Best li:first-child {
    display: flex;
    justify-content: flex-end;
}

.Best ul li img {
    width: 700px;
    height: 500px;
}