.Best {
    width: 100%;
    height: 2300px;
    margin: 0 auto;
}

.Best h2 {
    font-size: 50px;
    color: #000;
    text-align: center;
    font-weight: 600;
    margin: 0;
    padding: 0;
    padding-top: 150px;
    box-sizing: border-box;
}

.Best p {
    font-size: 15px;
    color: #9B959B;
    text-align: center;
    margin: 0;
    padding: 0;
}